html {
    font-family: 'Helvetica neue', Arial, 'sans serif';
    font-size: 20px;
    color: #000000;
}
body {
    width: auto;
    height: auto;
    margin: 0 1em 0 1em;
    background-color: #ffffff;
}
h1 {
    background-color: rgba(109, 173, 233, 0.547);
    height: 2em;
    margin: 0 0 0 0;
    color: black;
    text-align: center;
    font-size: 250%;
}

table.a {
    font-size: 130%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(109, 173, 233, 0.547);
    text-align: center;
    
}

table.b {
    font-size: 130%;
    background-color: rgba(109, 173, 233, 0.547);
    
}
table, tr, td {
    border: 2px solid black;
}
