html {
    font-family: 'Helvetica neue', Arial, 'sans serif';
    font-size: 20px;
    color: #000000;
}
body {
    width: auto;
    height: auto;
    margin: 0 1em 0 1em;
    background-color: #ffffff;
}
h1 {
    background-color: rgba(109, 173, 233, 0.547);
    height: 2em;
    margin: 0 0 0 0;
    color: black;
    text-align: center;
    font-size: 250%;
}

table.a {
    font-size: 130%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10em;
    background-color: rgba(109, 173, 233, 0.547);
    text-align: center;
    border-collapse:  collapse;
    padding: 10px; 
    
}

table.b {
    float: left;
    font-size: 130%;
    background-color: rgba(109, 173, 233, 0.547);
    margin: 0 0 0 0;
    border-collapse:  collapse;
    padding: 5px; 
    
    
}
table, tr, td {
    border: 2px solid black;
    
    

    
}

div.tables {
    display: grid;                      /* グリッドレイアウトにする*/
    grid-template-columns: 1fr; /* 2列にする．幅は 1:2 の比率*/
    grid-template-rows: 100px 100px;    /* 2行にする．高さはともに 100px */
    grid-gap: 10px;
    
}
