html {
    font-family: 'Helvetica neue', Arial, 'sans serif';
    font-size: 20px;
}

body {
    width: auto;
    height: auto;
    margin: 0 1em 0 1em;
}
h1 {
    color: rgb(0, 162, 255);
    margin: 0 0 0 1
}
header {
    background-color: gray;
    height: 10em;
    padding: 2em 1em;
}
